In [1]:
from datasets import load_dataset
import pandas as pd

# Daily dialog Dataset

In [2]:
dataset = load_dataset("daily_dialog")

Found cached dataset daily_dialog (C:/Users/brusl/.cache/huggingface/datasets/daily_dialog/default/1.0.0/1d0a58c7f2a4dab5ed9d01dbde8e55e0058e589ab81fce5c2df929ea810eabcd)

  0%|          | 0/3 [00:00<?, ?it/s]

In [3]:
dataset['train']

Dataset({
    features: ['dialog', 'act', 'emotion'],
    num_rows: 11118
})

In [4]:
train = pd.DataFrame(dataset["train"])
test = pd.DataFrame(dataset["test"])
validation = pd.DataFrame(dataset["validation"])

In [5]:
train.to_csv("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/Dailydialog/Train_dailyDialog.csv", index=False)
#C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/Dailydialog/Test_dailyDialog.xlsx
test.to_csv("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/Dailydialog/Test_dailyDialog.csv", index=False)
validation.to_csv("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/Dailydialog/Validation_dailyDialog.csv", index=False)

# Tweet Eval Dataset

In [6]:
dataset1 = load_dataset("tweet_eval", "emotion")
dataset2 = load_dataset("tweet_eval", "sentiment")
dataset3 = load_dataset("tweet_eval", "hate")
dataset4 = load_dataset("tweet_eval", "offensive")

Found cached dataset tweet_eval (C:/Users/brusl/.cache/huggingface/datasets/tweet_eval/emotion/1.1.0/12aee5282b8784f3e95459466db4cdf45c6bf49719c25cdb0743d71ed0410343)

  0%|          | 0/3 [00:00<?, ?it/s]

Found cached dataset tweet_eval (C:/Users/brusl/.cache/huggingface/datasets/tweet_eval/sentiment/1.1.0/12aee5282b8784f3e95459466db4cdf45c6bf49719c25cdb0743d71ed0410343)

  0%|          | 0/3 [00:00<?, ?it/s]

Found cached dataset tweet_eval (C:/Users/brusl/.cache/huggingface/datasets/tweet_eval/hate/1.1.0/12aee5282b8784f3e95459466db4cdf45c6bf49719c25cdb0743d71ed0410343)

  0%|          | 0/3 [00:00<?, ?it/s]

Found cached dataset tweet_eval (C:/Users/brusl/.cache/huggingface/datasets/tweet_eval/offensive/1.1.0/12aee5282b8784f3e95459466db4cdf45c6bf49719c25cdb0743d71ed0410343)

  0%|          | 0/3 [00:00<?, ?it/s]

# Tweet Eval Dataset: Emotion Recognition

In [7]:
train1 = pd.DataFrame(dataset1["train"])
test1 = pd.DataFrame(dataset1["test"])
validation1 = pd.DataFrame(dataset1["validation"])

In [8]:
train1.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TweetEval/TweetEval_traducir/Train_emotion.xlsx", index=False)
test1.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TweetEval/TweetEval_traducir/Test_emotion.xlsx", index=False)
validation1.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TweetEval/TweetEval_traducir/Validation_emotion.xlsx", index=False)

# Tweet Eval Dataset: Sentiment Analisis

In [9]:
train2 = pd.DataFrame(dataset2["train"])
test2 = pd.DataFrame(dataset2["test"])
validation2 = pd.DataFrame(dataset2["validation"])

In [10]:
train2.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TweetEval/TweetEval_traducir/Train_sentiment.xlsx", index=False)
test2.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TweetEval/TweetEval_traducir/Test_sentiment.xlsx", index=False)
validation2.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TweetEval/TweetEval_traducir/Validation_sentiment.xlsx", index=False)

# Tweet Eval Dataset: Hate

In [11]:
train3 = pd.DataFrame(dataset3["train"])
test3 = pd.DataFrame(dataset3["test"])
validation3 = pd.DataFrame(dataset3["validation"])

In [12]:
train3.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TweetEval/TweetEval_traducir/Train_hate.xlsx", index=False)
test3.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TweetEval/TweetEval_traducir/Test_hate.xlsx", index=False)
validation3.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TweetEval/TweetEval_traducir/Validation_hate.xlsx", index=False)

# Tweet Eval Dataset: Offensive

In [13]:
train4 = pd.DataFrame(dataset4["train"])
test4 = pd.DataFrame(dataset4["test"])
validation4 = pd.DataFrame(dataset4["validation"])

In [14]:
train4.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TweetEval/TweetEval_traducir/Train_offensive.xlsx", index=False)
test4.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TweetEval/TweetEval_traducir/Test_offensive.xlsx", index=False)
validation4.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TweetEval/TweetEval_traducir/Validation_offensive.xlsx", index=False)

# Twitter Sentiment Analisis Training Corpus

In [2]:
dataset5 = pd.read_csv("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/training.1600000.processed.noemoticon.csv", encoding='utf-8')

In [3]:
#print the column names
#drop the columns that are not required for the neural network, keeping only the label and the tweet, but we don't have a label, so we will use the number of the column to drop it
#we won't drop 0 and 5 column, we will drop the rest
dataset5.drop(dataset5.columns[[1,2,3,4]], axis=1, inplace=True)

In [4]:
dataset5
#rename the columns
dataset5.columns = ['label', 'tweet']
dataset5
# lets remove the links from the tweets
dataset5['tweet'] = dataset5['tweet'].str.replace('http\S+|www.\S+', '', case=False)

C:\Users\brusl\AppData\Local\Temp\ipykernel_21200\1587032350.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset5['tweet'] = dataset5['tweet'].str.replace('http\S+|www.\S+', '', case=False)

In [5]:
dataset5
# lets replace the usernames from the tweets with the word USER
dataset5['tweet'] = dataset5['tweet'].str.replace('@\S+', '@USER', case=False)

C:\Users\brusl\AppData\Local\Temp\ipykernel_21200\2991942178.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset5['tweet'] = dataset5['tweet'].str.replace('@\S+', '@USER', case=False)

In [6]:
#lets replace the lebel 4 with 1 positive and 0 negative
dataset5['label'] = dataset5['label'].replace(4, 1)
dataset5['label'].value_counts()
#lets create a training, testing and validation set with 70%, 20% and 10% of the data, and sample it randomly
train5 = dataset5.sample(frac=0.7, random_state=42)
test5 = dataset5.drop(train5.index)
test5 = test5.sample(frac=0.2857142857142857, random_state=42)
validation5 = dataset5.drop(train5.index)
validation5 = validation5.drop(test5.index)

In [7]:
test5, validation5 = validation5, test5
print(len(test5.index),len(validation5.index),len(train5.index))

342857 137143 1119999

In [8]:
train5

         label                                              tweet
541200       0  @USER My poor little dumpling  In Holmdel vids...
750          0  I'm off too bed. I gotta wake up hella early t...
766711       0  I havent been able to listen to it yet  My spe...
285055       0  now remembers why solving a relatively big equ...
705995       0                           Ate too much, feel sick
...        ...                                                ...
285300       0  Today I saw a lot of people that I missed ... ...
1007912      1                                       - I like it
826125       1  ploughing through assignments but looking fwd ...
1199656      1   @USER i cant wait to see joseph on his birthday
1314765      1  @USER  Pretty fantastic places.Time flie a lot...

[1119999 rows x 2 columns]

In [9]:
test5

         label                                              tweet
4            0                          @USER not the whole crew
8            0                              @USER que me muera ?
16           0                               about to file taxes
21           0            @USER I baked you a cake but I ated it
22           0             this week is not going as i had hoped
...        ...                                                ...
1599951      1  #Traveltuesday @USER Because their tweets are ...
1599956      1  @USER You just HAD to throw that in. Tell her ...
1599973      1  @USER ahaha nooo you were just away from every...
1599977      1                               @USER i second that
1599980      1           Another Commenting Contest! [;: Yay!!!

[342857 rows x 2 columns]

In [10]:
validation5

         label                                              tweet
1041631      1                  @USER cooL iL be waiting for it
22760        0  wishes she was at give it a name today, THE BL...
1204584      1  Rofl i love how there are twitter updates at t...
18457        0  @USER - Sorry your day ended up sucking. Have ...
553629       0  Argh! TweetDeck crashed 5 times within 10 mins...
...        ...                                                ...
988407       1  We are inclined to believe those whom we do no...
1353079      1             And my switchblade is going to love u
207988       0  @USER Millionnaire with Bashy, Big Tune. @USER...
1343451      1  @USER Oh good! Sorry you didn't win the tix bu...
1013534      1  Mmm you're going to pay for that and tbh im go...

[137143 rows x 2 columns]

In [11]:
sum(len(x) for x in [train5, test5, validation5])

1599999

In [12]:
import numpy as np
def split_dataframe(df, num_ofchunks,tag,dir='TSATCC/',datasetn='TSATCC'): 
    chunks = np.array_split(df, num_ofchunks)
    i=1
    for chunk in chunks:
        name =f"C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/{dir}{tag}{i}_{datasetn}.xlsx"
        try:
            chunk.to_excel(name, index=False)
            print(f"saved {name}")
        except:
            print(f"error to save {name}")
        i+=1

In [23]:
split_dataframe(train5, 12,"train")
split_dataframe(test5, 6,"test")

saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/train1_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/train2_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/train3_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/train4_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/train5_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/train6_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/train7_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/train8_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/train9_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/train10_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/train11_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/train12_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/test1_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/test2_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/test3_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/test4_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/test5_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/test6_TSATCC.xlsx

In [13]:
split_dataframe(validation5, 3,"validation")

saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/validation1_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/validation2_TSATCC.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/TSATCC/validation3_TSATCC.xlsx

# HappyDB Dataset

In [33]:
dataset6 = pd.read_csv("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/HappyDB/data/cleaned_hm.csv", encoding='utf-8')

In [34]:
dataset6

,hmid,wid,reflection_period,original_hm,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category
0,27673,2053,24h,I went on a successful date with someone I fel...,I went on a successful date with someone I fel...,True,1,NaN,affection
1,27674,2,24h,I was happy when my son got 90% marks in his e...,I was happy when my son got 90% marks in his e...,True,1,NaN,affection
2,27675,1936,24h,I went to the gym this morning and did yoga.,I went to the gym this morning and did yoga.,True,1,NaN,exercise
3,27676,206,24h,We had a serious talk with some friends of our...,We had a serious talk with some friends of our...,True,2,bonding,bonding
4,27677,6227,24h,I went with grandchildren to butterfly display...,I went with grandchildren to butterfly display...,True,1,NaN,affection
...,...,...,...,...,...,...,...,...,...
100530,128762,112,24h,My husband announced he is getting a decent bo...,My husband announced he is getting a decent bo...,True,1,NaN,affection
100531,128763,714,24h,Had a can of Pepsi to drink.,Had a can of Pepsi to drink.,True,1,NaN,enjoy_the_moment
100532,128764,3934,24h,Cuddling with my girlfriend last night.,Cuddling with my girlfriend last night.,True,1,affection,affection
100533,128765,1629,24h,I had a great meeting yesterday at work with m...,I had a great meeting yesterday at work with m...,True,1,NaN,bonding
100534,128766,141,24h,I had a great workout last night.,I had a great workout last night.,True,1,NaN,exercise

In [35]:
dataset6=dataset6.drop(dataset6.columns[[0,1,2,3,5,6,7]], axis=1)
dataset6

                                               cleaned_hm predicted_category
0       I went on a successful date with someone I fel...          affection
1       I was happy when my son got 90% marks in his e...          affection
2            I went to the gym this morning and did yoga.           exercise
3       We had a serious talk with some friends of our...            bonding
4       I went with grandchildren to butterfly display...          affection
...                                                   ...                ...
100530  My husband announced he is getting a decent bo...          affection
100531                       Had a can of Pepsi to drink.   enjoy_the_moment
100532            Cuddling with my girlfriend last night.          affection
100533  I had a great meeting yesterday at work with m...            bonding
100534                  I had a great workout last night.           exercise

[100535 rows x 2 columns]

In [37]:
dataset6.columns = ['Text', 'label']
dataset6

                                                     Text             label
0       I went on a successful date with someone I fel...         affection
1       I was happy when my son got 90% marks in his e...         affection
2            I went to the gym this morning and did yoga.          exercise
3       We had a serious talk with some friends of our...           bonding
4       I went with grandchildren to butterfly display...         affection
...                                                   ...               ...
100530  My husband announced he is getting a decent bo...         affection
100531                       Had a can of Pepsi to drink.  enjoy_the_moment
100532            Cuddling with my girlfriend last night.         affection
100533  I had a great meeting yesterday at work with m...           bonding
100534                  I had a great workout last night.          exercise

[100535 rows x 2 columns]

In [38]:
dataset6['label'].value_counts()

affection           34168
achievement         33993
enjoy_the_moment    11144
bonding             10727
leisure              7458
nature               1843
exercise             1202
Name: label, dtype: int64

In [39]:
dataset6['label'] = dataset6['label'].replace('affection', 1)
dataset6['label'] = dataset6['label'].replace('achievement', 2)
dataset6['label'] = dataset6['label'].replace('bonding', 3)
dataset6['label'] = dataset6['label'].replace('enjoy_the_moment', 4)
dataset6['label'] = dataset6['label'].replace('leisure', 5)
dataset6['label'] = dataset6['label'].replace('nature', 6)
dataset6['label'] = dataset6['label'].replace('exercise', 7)

In [41]:
dataset6['label'].value_counts()

1    34168
2    33993
4    11144
3    10727
5     7458
6     1843
7     1202
Name: label, dtype: int64

In [48]:
len(dataset6.index)

100535

In [52]:
#lets create a training, testing and validation set with 70%, 20% and 10% of the data, and sample it randomly
train6 = dataset6.sample(frac=0.7, random_state=42)
test6 = dataset6.drop(train6.index)
test6 = test6.sample(frac=0.70, random_state=42)
validation6 = dataset6.drop(train6.index)
validation6 = validation6.drop(test6.index)
print(len(test6.index),len(validation6.index),len(train6.index))

21113 9048 70374

In [62]:
train6

                                                    Text  label
10484  I enjoyed spending the day at a craft show wit...      1
40401  I had a good evaluation at work and received a...      2
28905                               Seeing my mom in law      1
42741  My father in-law went back for a heaping plate...      1
68854  I had a self-realization moment that is bringi...      4
...                                                  ...    ...
63137                       My one purple tulip bloomed.      2
75474  Last week I was able to buy a whole bunch of c...      2
85651  Someone ordered really great pizza for our lunch.      4
74009  In the past 3mth I met my old school friend at...      3
44173  Dressing up to go to a dance with my girlfrien...      1

[70374 rows x 2 columns]

In [61]:
validation6

                                                     Text  label
5                                 I meditated last night.      5
28      My son woke me up to a fantastic breakfast of ...      1
36      I went for a run in the neighborhood. I enjoye...      6
42            when i received flowers from my best friend      3
48      I remember yesterday as being totally differen...      6
...                                                   ...    ...
100496  I got pre-approved for a mortgage loan this mo...      2
100511  Last night while attending my grandmother's wa...      3
100520    I had a little time to myself in the afternoon.      4
100525  I got to talk to an old friend and reminisce o...      3
100532            Cuddling with my girlfriend last night.      1

[9048 rows x 2 columns]

In [60]:
test6

                                                    Text  label
706       I did strength training for about 30 minutes.       2
83322  My granddaughter made the honor roll.  That pl...      2
59405  When my brother's daughter was studying she us...      1
41705  I felt joyful after speaking with my friend on...      3
28942  My wife graciously cleaned the house yesterday...      1
...                                                  ...    ...
4835   My wife and I got over being upset with one an...      1
56396                                I saw a cute kitty.      5
34844                     I got accepted to grad school.      2
9012        i celebrate my parents wedding day yesterday      1
17633                  I caught the earlier bus to work.      2

[21113 rows x 2 columns]

In [53]:
sum(len(x) for x in [train6, test6, validation6])

100535

In [63]:
#lets save the dataframes in excel files
split_dataframe(train6, 2,"train",'HappyDB/dataset_HDB/',"HappyDB")
test6.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/HappyDB/dataset_HDB/test_happyDB.xlsx", index=False)
validation6.to_excel("C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/HappyDB/dataset_HDB/validation_happyDB.xlsx", index=False)

saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/HappyDB/dataset_HDB/train1_HappyDB.xlsx
saved C:/Users/brusl/Documents/1 Escuela/1 Universidad/SSocial/tesis/conjuntos/HappyDB/dataset_HDB/train2_HappyDB.xlsx